@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.card-container {
  perspective: 50em;
}

.card-container:nth-child(1) .card {
  --bi: repeating-linear-gradient(30deg, #111 0 0.25em, #333 0 1em);
}

.card-container:nth-child(2) .card {
  --bi: linear-gradient(#555 5em, transparent 3em),
    linear-gradient(60deg, #880e4f, #1a237e);
}

.card {
  position: relative;
  width: 320px;
  padding: 3em;
  color: #fff;
  transform: rotateY(-10deg) rotateX(15deg); /* Adjusted rotation for top-left to bottom-right */
  transform-origin: top left; /* Origin set to top-left */
  transform-style: preserve-3d;
  transition: transform 1s;
}

.layers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-image: var(--bi);
  transform-style: preserve-3d;
  box-shadow: 0 0 0.5em #000d inset;
}

.layer:nth-child(1) {
  transform: translateZ(0px);
}
.layer:nth-child(2) {
  transform: translateZ(-4px);
}
.layer:nth-child(3) {
  transform: translateZ(-8px);
}
.layer:nth-child(4) {
  transform: translateZ(-12px);
}
.layer:nth-child(5) {
  transform: translateZ(-16px);
}
.layer:nth-child(6) {
  transform: translateZ(-20px);
}
.layer:nth-child(7) {
  transform: translateZ(-24px);
}
.layer:nth-child(8) {
  transform: translateZ(-28px);
}
.layer:nth-child(9) {
  transform: translateZ(-32px);
}
.layer:nth-child(10) {
  transform: translateZ(-36px);
}

.layer:last-child {
  box-shadow: 0 0 0.5em #000d inset, 0 0 5px #000;
}
